In [29]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [30]:
#enter the path where you stored the netflix_titles.csv file
data= pd.read_csv("/Users/kamilanwar/Documents/Movie Recommender/netflix_titles.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [31]:
#Taking input from the user about their liked movies
usr_input=input('Tell us about your last watched Netflix which you loved: ')

Tell us about your last watched Netflix which you loved:  #realityhigh

In [44]:

recent_movie=data[data['title']== usr_input]
recent_movie

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [33]:
#Converts the Genre of the movie to a string so that it can be compared later
genre= recent_movie['listed_in']     
genre=str(genre)
i=0
while(not genre[i].isalpha()):
    i=i+1
genre=genre[i:]
i=0
while(not genre[i]== '\n'):
    i=i+1
genre=genre[0:i]
genre

'Comedies'

In [34]:
#The dataframe is now sorted in terms of similar listing
recommend= data[data['listed_in']== genre ]
recommend.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
141,80059432,Movie,SMOSH: The Movie,Alex Winter,"Ian Hecox, Anthony Padilla, Jenna Marbles, Gra...",United States,"September 22, 2015",2015,PG-13,83 min,Comedies,To keep his teen crush from spotting him in an...
154,80243600,Movie,Between Two Ferns: The Movie,Scott Aukerman,"Zach Galifianakis, Lauren Lapkus, Ryan Gaul, J...",United States,"September 20, 2019",2019,TV-MA,83 min,Comedies,Armed with awkward questions and zero self-awa...
191,80987075,Movie,Class Rank,Eric Stoltz,"Olivia Holt, Skyler Gisondo, Kristin Chenoweth...",United States,"September 18, 2018",2018,TV-14,103 min,Comedies,When her class rank threatens her college plan...
248,80088910,Movie,Natural Born Pranksters,"Roman Atwood, Ben Pluimer","Roman Atwood, Vitaly Zdorovetskiy, Dennis Roady",United States,"September 15, 2016",2016,R,91 min,Comedies,The biggest pranksters on YouTube – VitalyzdTV...

In [35]:
#code to get the rating of the show given by the user
rating= recent_movie['rating']
str(rating)
rating=str(rating)
i=0
while(not rating[i].isalpha()):
    i=i+1
rating=rating[i:]
i=0
while(not rating[i]== '\n'):
    i=i+1
rating=rating[0:i]
rating

'TV-14'

In [39]:
#The dataframe is further classified on basis of similar rating
recommend= recommend[recommend['rating']== rating ]
recommend.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
36,81113928,Movie,Care of Kancharapalem,Maha Venkatesh,"Subba Rao Vepada, Radha Bessy, Kesava Karri, N...",NaN,"September 6, 2019",2018,TV-14,142 min,"Comedies, Dramas, Independent Movies",From a schoolboy’s crush to a middle-aged bach...
37,81052275,Movie,Ee Nagaraniki Emaindi,Tharun Bhascker,"Vishwaksen Naidu, Sushanth Reddy, Abhinav Goma...",India,"September 6, 2019",2018,TV-14,133 min,"Comedies, International Movies","In Goa and in desperate need of cash, four chi..."
38,81132437,Movie,Kill Me If You Dare,Şenol Sönmez,"Murat Boz, Seda Bakan, Açelya Topaloğlu, Özgür...",NaN,"September 6, 2019",2019,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."

In [37]:
#code to get the type attribute of the movie read from the user
mv_type=recent_movie['type']
mv_type=str(mv_type)
i=0
while(not mv_type[i].isalpha()):
    i=i+1
mv_type=mv_type[i:]
i=0
while(not mv_type[i]== '\n'):
    i=i+1
mv_type=mv_type[0:i]
mv_type

'Movie'

In [40]:
#the dataframe is now also considerate on the type attribute of the similar results
recommend= recommend[recommend['type']== mv_type ]
recommend.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
36,81113928,Movie,Care of Kancharapalem,Maha Venkatesh,"Subba Rao Vepada, Radha Bessy, Kesava Karri, N...",NaN,"September 6, 2019",2018,TV-14,142 min,"Comedies, Dramas, Independent Movies",From a schoolboy’s crush to a middle-aged bach...
37,81052275,Movie,Ee Nagaraniki Emaindi,Tharun Bhascker,"Vishwaksen Naidu, Sushanth Reddy, Abhinav Goma...",India,"September 6, 2019",2018,TV-14,133 min,"Comedies, International Movies","In Goa and in desperate need of cash, four chi..."
38,81132437,Movie,Kill Me If You Dare,Şenol Sönmez,"Murat Boz, Seda Bakan, Açelya Topaloğlu, Özgür...",NaN,"September 6, 2019",2019,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."

In [41]:
#the final results are displayed
print('The movies you should watch based on the last watched are:')
recommend.head()

The movies you should watch based on the last watched are:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
36,81113928,Movie,Care of Kancharapalem,Maha Venkatesh,"Subba Rao Vepada, Radha Bessy, Kesava Karri, N...",NaN,"September 6, 2019",2018,TV-14,142 min,"Comedies, Dramas, Independent Movies",From a schoolboy’s crush to a middle-aged bach...
37,81052275,Movie,Ee Nagaraniki Emaindi,Tharun Bhascker,"Vishwaksen Naidu, Sushanth Reddy, Abhinav Goma...",India,"September 6, 2019",2018,TV-14,133 min,"Comedies, International Movies","In Goa and in desperate need of cash, four chi..."
38,81132437,Movie,Kill Me If You Dare,Şenol Sönmez,"Murat Boz, Seda Bakan, Açelya Topaloğlu, Özgür...",NaN,"September 6, 2019",2019,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."